      <!-- start banner Area -->
      <section class="about-banner">
        <div class="container">
          <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
              <h1 class="text-white">
                {{'project.title' | translate}}
              </h1>
              <p class="text-white link-nav"><a href="index.html">{{'project.home' | translate}} </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> {{'project.title' | translate}}</a></p>
            </div>
          </div>
        </div>
      </section>
      <!-- End banner Area -->

  <!-- start banner Area -->
  <section class="banner-area relative blog-home-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content blog-header-content col-lg-12">
          <h1 class="text-white">

          </h1>
          <p class="text-white">

          </p>

        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->



			<!-- Start Sample Area -->
			<section class="sample-text-area">
				<div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content  col-lg-7">
                    <div class="title text-center">
                        <h1 class="mb-10">More about our Military project</h1>
                    </div>
                </div>
            </div>
					<p class="sample-text">
						Every avid independent filmmaker has about making that interest documentary, or short film to show off their creative prowess. Many have great ideas and want to “wow” the Superscript scene, or video renters with their big project.  But once you have the Subscript “in the can” (no easy feat), how do you move from a Strike through of master DVDs with the “Underline” marked hand-written title inside a secondhand CD case, to a pile of cardboard boxes full of shiny new, retail-ready DVDs, with UPC barcodes and polywrap sitting on your doorstep?  You need to create eye-popping artwork and have your project replicated. Using a reputable full service DVD Replication company like PacificDisc, Inc. to partner with is certainly a helpful option to ensure a professional end result, but to help with your DVD replication project, here are 4 easy steps to follow for good DVD replication results:

					</p>
				</div>
			</section>
      <!-- End Sample Area -->
      
      <app-video> </app-video>

<!-- Start price Area -->
<section class="price-area section-gap">
  <div class="container">

    <div class="section-top-border">
        <div class="row d-flex justify-content-center">
            <div class="menu-content  col-lg-7">
                <div class="title text-center">
                    <h1 class="mb-10">Images</h1>
                </div>
            </div>
        </div>
      <div class="row gallery-item">
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg1.jpg);"></div></a>
        </div>
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg2.jpg);"></div></a>
        </div>
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg3.jpg);"></div></a>
        </div>
        <div class="col-md-6">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg4.jpg);"></div></a>
        </div>
        <div class="col-md-6">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg5.jpg);"></div></a>
        </div>
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg6.jpg);"></div></a>
        </div>
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg7.jpg);"></div></a>
        </div>
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg8.jpg);"></div></a>
        </div>
      </div>
    </div>

  <app-persons> </app-persons>
  </div>

</section>
<!-- End price Area -->
      <app-brands></app-brands>
