<!-- start banner Area -->
<section class="banner-area">
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-between">
      <div class="col-lg-6 col-md-6 banner-left">
        <h6>{{ 'home.text1' | translate }}</h6>
        <h1>{{ 'home.text2' | translate }}</h1>
        <p class="home-text3-color">
          {{ 'home.text3' | translate }}
        </p>
        <a routerLink="about" class="primary-btn text-uppercase">{{ 'home.button1' | translate }}</a>
      </div>

    </div>
  </div>
</section>

<app-video> </app-video>

<app-discipline> </app-discipline>

<!-- Start home-about Area -->
<section class="home-about-area pt-120">
  <div class="container">
  <app-howtoparticipate> </app-howtoparticipate>

    <div class="section-top-border">
        <div class="row d-flex justify-content-center">
            <div class="menu-content  col-lg-7">
                <div class="title text-center">
                    <h1 class="mb-10">Images</h1>
                </div>
            </div>
        </div>
      <div class="row gallery-item">
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg1.jpg);"></div></a>
        </div>
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg2.jpg);"></div></a>
        </div>
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg3.jpg);"></div></a>
        </div>
        <div class="col-md-6">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg4.jpg);"></div></a>
        </div>
        <div class="col-md-6">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg5.jpg);"></div></a>
        </div>
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg6.jpg);"></div></a>
        </div>
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg7.jpg);"></div></a>
        </div>
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg8.jpg);"></div></a>
        </div>
      </div>
    </div>


  </div>
</section>
<!-- End home-about Area -->

<app-brands></app-brands>
