<!-- start banner Area -->
<section class="banner-area">
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-between">
      <div class="col-lg-6 col-md-6 banner-left">
        <h6>{{ 'home.text1' | translate }}</h6>
        <h1>{{ 'home.text2' | translate }}</h1>
        <p class="home-text3-color">
          {{ 'home.text3' | translate }}
        </p>
        <a routerLink="about" class="primary-btn text-uppercase">{{ 'home.button1' | translate }}</a>
      </div>

    </div>
  </div>
</section>

<app-video> </app-video>

<!-- End banner Area -->
<div class="whole-wrap">
  <div class="container">
    <div class="section-top-border">
        <div class="row d-flex justify-content-center">
            <div class="menu-content  col-lg-7">
                <div class="title text-center">
                    <h1 class="mb-10">Discipline</h1>
                    <p>At about this time of year, some months after New Year’s resolutions have been made and kept, or made and neglected.</p>
                </div>
            </div>
        </div>
      <div class="row">
        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">Discipline 01</h4>
            <p>Recently, the US Federal government banned online casinos from operating in America by making it illegal
              to transfer money to them through any US bank or payment system. As a result of this law, most of the
              popular online casino networks</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">Discipline 02</h4>
            <p>Recently, the US Federal government banned online casinos from operating in America by making it illegal
              to transfer money to them through any US bank or payment system. As a result of this law, most of the
              popular online casino networks</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">Discipline 03</h4>
            <p>Recently, the US Federal government banned online casinos from operating in America by making it illegal
              to transfer money to them through any US bank or payment system. As a result of this law, most of the
              popular online casino networks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Align Area -->


<!-- Start home-about Area -->
<section class="home-about-area pt-120">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-5 col-md-6 home-about-right">
        <h6>{{ 'home.participate' | translate }}</h6>
        <h1 class="text-uppercase">{{ 'home.details' | translate }}</h1>
        <p>
          {{ 'home.here' | translate }}
        </p>
        <a routerLink="participate" class="primary-btn text-uppercase">{{ 'home.button2' | translate }}</a>
      </div>
      <div class="col-lg-6 col-md-6 home-about-left">
        <img class="img-fluid" src="../assets/img/home/about-img.png" alt="">
      </div>
    </div>

    <div class="section-top-border">
        <div class="row d-flex justify-content-center">
            <div class="menu-content  col-lg-7">
                <div class="title text-center">
                    <h1 class="mb-10">Images</h1>
                </div>
            </div>
        </div>
      <div class="row gallery-item">
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg1.jpg);"></div></a>
        </div>
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg2.jpg);"></div></a>
        </div>
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg3.jpg);"></div></a>
        </div>
        <div class="col-md-6">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg4.jpg);"></div></a>
        </div>
        <div class="col-md-6">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg5.jpg);"></div></a>
        </div>
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg6.jpg);"></div></a>
        </div>
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg7.jpg);"></div></a>
        </div>
        <div class="col-md-4">
          <a  class="img-gal"><div class="single-gallery-image" style="background: url(../assets/img/home/gallery/homeg8.jpg);"></div></a>
        </div>
      </div>
    </div>


  </div>
</section>
<!-- End home-about Area -->

<app-brands></app-brands>
